/* 全体のスタイル */
.swiper-wrapper {
	width: 100%;
margin-bottom: 20px;
}
.swiper-wrapper h3{

}
/* 全スライド共通スタイル */
.swiper-slide {
	color: #353535;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 20px;
	background-color: #fff;
	padding: 20px 0;
}
/* 4の倍数＋1枚目のスライドのスタイル（1枚目、5枚目…） */
.swiper-slide:nth-child(4n+1) {
	background-color: ;
}
/* 4の倍数＋2枚目のスライドのスタイル（2枚目、6枚目…） */
.swiper-slide:nth-child(4n+2) {
	background-color: ;
}
/* 4の倍数＋3枚目のスライドのスタイル（3枚目、7枚目…） */
.swiper-slide:nth-child(4n+3) {
	background-color: ;
}
/* 4の倍数＋4枚目のスライドのスタイル（4枚目、8枚目…） */
.swiper-slide:nth-child(4n+4) {
	background-color: ;
}

/* 全体のスタイル */
.swiper-pagination {
position: relative;
margin-top: 10px;
}
.swiper-pagination-bullet {
	width: 12px; /* 幅 */
	height: 12px; /* 高さ */
	background: #ddd; /* 色： */
	opacity: 0.5; /* 半透明（デフォルトでは0.2） */
}
/* 現在のスライドのスタイル */
.swiper-pagination-bullet-active {
	width: 12px; /* 幅 */
	height: 12px; /* 高さ */
	background: #353535; /* 色： */
	opacity: 1; /* 不透明 */
}

.swiper-button-prev {
}

/* Swiper本体 
.swiper-container {
	width: calc(100% - 100px);	/* ☆前・次ページボタンの幅をそれぞれ50pxとして、その分を引く */
	padding-bottom: 50px;		/* ★ページネーション・スクロールバー分の余白50pxを下に取る */
	box-sizing: content-box;
}*/
