/* �S�̂̃X�^�C�� */
.swiper-wrapper {
	width: 100%;
 /*margin-bottom: 20px;*/
 display: flex;
 height: auto;
}
.swiper-wrapper h3{

}
/* �S�X���C�h���ʃX�^�C�� */
.swiper-slide {
	color: #353535;
	width: 100%;
	height: auto;
	text-align: center;
	line-height: 20px;
	background-color: #fff;
	padding: 20px 0 10px;
}
/* 4�̔{���{1���ڂ̃X���C�h�̃X�^�C���i1���ځA5���ځc�j */
.swiper-slide:nth-child(4n+1) {
	background-color: ;
}
/* 4�̔{���{2���ڂ̃X���C�h�̃X�^�C���i2���ځA6���ځc�j */
.swiper-slide:nth-child(4n+2) {
	background-color: ;
}
/* 4�̔{���{3���ڂ̃X���C�h�̃X�^�C���i3���ځA7���ځc�j */
.swiper-slide:nth-child(4n+3) {
	background-color: ;
}
/* 4�̔{���{4���ڂ̃X���C�h�̃X�^�C���i4���ځA8���ځc�j */
.swiper-slide:nth-child(4n+4) {
	background-color: ;
}

/* �S�̂̃X�^�C�� */
.swiper-pagination {
position: relative;
margin-top: 10px;
}
.swiper-pagination-bullet {
	width: 12px; /* �� */
	height: 12px; /* ���� */
	background: #ddd; /* �F�F */
	opacity: 0.5; /* �������i�f�t�H���g�ł�0.2�j */
}
/* ���݂̃X���C�h�̃X�^�C�� */
.swiper-pagination-bullet-active {
	width: 12px; /* �� */
	height: 12px; /* ���� */
	background: #8c9398; /* �F�F */
	opacity: 1; /* �s���� */
}

.swiper-button-prev {
}

/* Swiper�{��
.swiper-container {
	width: calc(100% - 100px);	/* ���O�E���y�[�W�{�^���̕������ꂼ��50px�Ƃ��āA���̕������� */
	padding-bottom: 50px;		/* ���y�[�W�l�[�V�����E�X�N���[���o�[���̗]��50px�����Ɏ��� */
	box-sizing: content-box;
}*/
